body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

body {
    background-image: url("../Logo/66363026-a8bd-4f18-9372-78be2c1aa42d.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-container {
    background-color: #e3adad;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    margin-top: 32px;
}

h1 {
    font-size: 24px;
    color: teal;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkcyan;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}




/**/
#jokes-display:empty {
    display: none;
}

#jokes-display {
    height: 146px;
    width: fit-content;
    list-style: none;
    margin: auto;
    padding: 0;
    margin-top: 30px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#jokes-display::-webkit-scrollbar {
    width: 8px;
}

#jokes-display::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#jokes-display::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.joke-content {
    width: fit-content;
    list-style: none;
    background-color: teal;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.joke-number {
    font-weight: bold;
}

.joke-setup,
.joke-punchline {
    margin: 5px 0;
}

#add-joke-form {
    padding: 10px;
    background-color: rgb(157, 178, 131);
    border-radius: 8px;
}